<div class="jumbotron">
  <h3><%= @user.username %></h3>
</div>
<% if current_user.id == @user.id %>
<div class="page-header">
  <a href="/games/new" class="btn btn-default btn-group-justified"><i class="fa fa-plus" aria-hidden="true"></i></a>
</div>
<% end%>
<div class="row">

  <% @user.games.each do |game| %>
  <div class="col-md-8 col-md-offset-2">

    <div class="panel panel-default">
      <div class="panel-heading"><%= User.find_by( :id => game.user_id ).username %></div>
      <% if current_user.id == game.user_id %>
      <h3>
        <a href="/games/<%= game.id %>/edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
        <a href="/delete_game/<%= game.id %>"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </h3>
      <%end%>



      </div>
    </div>

  </div>
<% end %>
</div>
